<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OMDB Movie Search</title>
</head>
<body>
    <h2>Search a movie</h2>

<form method="GET" action="/results">
    <input type="text" name="search" placeholder="search for a movie title"/>
    <input type="submit" value="SEARCH!">
</form>
</body>
</html>